html, body {
  margin: 0;
  height: 100%;
}
.container {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}
#cats-list {
  -webkit-flex: 1;
  flex: 1;
}
#cats-list > ul > li{
  padding: 5px;
}
#cat-area {
  padding: 10px;
  -webkit-flex: 4;
  flex: 4;
  border: 1px solid lightgray;
  text-align: center;
}
#admin-area > .form-group > label {
  display: inline-block;
  width: 150px;
  text-align: right;
  margin-right: 5px;
}
#admin-area > .form-group > input {
  width: 180px;
}
#admin-area > .admin-buttons-area {
  display: inline-block;
  width: 339px; /*sum of label + input widths with adjusted for margins*/
  text-align: right;
  margin-top: 10px;
}